html {
	width: 100%;
	height: 100%;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.title {
	position: fixed;
	font-family: serif;
	font-size: 30;
	text-align: center;
	margin:auto;
	width:30%;
	top:100px;
	padding-left: 500px;
	padding-right: 100px;
}
.phonetics {
	position: fixed;
	font-family: serif;
	font-size: 13;
	text-align: center;
	margin:auto;
	width:30%;
	top:165px;
	padding-left: 500px;
	padding-right: 100px;
	overflow-y: scroll;
}

.definition {
	position: fixed;
	font-family: serif;
	font-size: 18;
	text-align: center;
	margin:auto;
	width:30%;
	top:225px;
	padding-left: 500px;
	padding-right: 100px;
	overflow-y: scroll;
}



