html {
	width: 100%;
}
body {
	width: 100%;
	margin:50px 0px; padding:0px;
	text-align:center;
}
img {
	padding-top: 175px;
	padding-left: 10px;
	
}
.phonetics {
	font-size: 16;
	padding-top: 100px;
	font-weight: 100;
}
.definition {
	width:400px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	padding-top: 100px;
	padding-left: 38px;
	padding-bottom: 40px;
	font-size: 16;
	font-weight: 100;
	}
.button{
	width:400px;
	margin:0px auto;
	padding: 15px;
	padding-left: 38px;
	text-align:left;
	font-size: 16;
	font-weight: 300;
}
.button:hover{
	text-decoration: underline;
}
.spacer{
	width: 100%;
	height: 100px;
}
.about {
	text-align: left;
	width:400px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	padding-top: 40px;
	padding-left: 38px;
	padding-bottom: 90px;
	font-size: 16;
	font-weight: 100;
}

a {
	color: black;
	font-size: 20;
	padding-bottom: 175px;
}

a:hover{
	color:#6232ff;
	text-decoration: underline;
}




